<div class='main_search'>
  <p>To see what your friends like:</p>
  <%= link_to image_tag("login_with_facebook.png", :border => 0, :class => 'fb-button'), "https://www.facebook.com/dialog/oauth?client_id=1476091199299474&scope=email,user_friends&redirect_uri=http://local.foo.com:3000/facebook" %>

  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <p>Or log in with email:</p>

  <%= form_tag(:action => 'create') do %>
    <div class="field">
    <%= text_field_tag(:email, nil, placeholder: "Email Address") %>
    </div>
    <div class="field">
    <%= password_field_tag :password, nil, placeholder: "Password" %>
  </div>
  <div class="field ">
    <%= submit_tag("Sign In") %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.tab').hide();
  });
</script>