	<% if logged_in? %>
		<%= link_to 'Sign Out', logout_path %>
	<% else %>
		<%= link_to 'Sign Up', new_user_path %>
		<%= link_to 'Sign In', new_session_path %>
	<% end %>

	<div class='main_search'>
		<div><%= image_tag "Pigly-logo.png", :class => "main_logo" %></div>
		</br>
		<%= form_for @restaurant, url: search_restaurants_path do |restaurant_form| %>
			<%= restaurant_form.text_field :name, :placeholder => "Search For A Restaurant..." %>
		<% end %> 
	</div>

<script>
  $(function() {
   	var restaurant_names = <%= raw @names %>;
   	var searchBox = $('#restaurant_name');
    searchBox.autocomplete({
      source: restaurant_names
    });
  });
  </script>