<div class='main_search'>
  <%= form_for(@user) do |f| %>

    <% if @user.errors.full_messages.delete_if { |msg| msg =~ /digest/ }.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.full_messages.delete_if { |msg| msg =~ /digest/ }.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.delete_if { |msg| msg =~ /digest/ }.each do |msg| %>
          <% unless msg == "Password digest can't be blank" %>
          <li><%= msg %></li>
          <% end %>

        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.email_field :email, placeholder: 'Email Address' %>
    </div>
    <div class="field">
      <%= f.password_field :password, placeholder: 'Password' %>
    </div>
    <div class="field">
      <%= f.text_field :age, placeholder: "Your Age" %>
    </div>
    <div class="field">
      <%= f.text_field :zip, placeholder: "Your Zipcode" %>
    </div>
    <div class="field">
      <%= f.select :gender, [['Male','male'],['Female','female']] %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.tab').hide();
  });
</script>