<h1><%= @restaurant.name %> </h1>

<% @menu_items.each do |item| %>

  <%= div_for(item) do %>
    <p><%= item.name %></p>
    <div class="votes">
      <!-- CLEAN THIS SEND LOGIC TO CONTROLER -->
      <%= link_to 'Up!', votes_path(direction: 'up', menu_item_id: item.id), remote: true, method: 'post', id: 'upvote'%>
      <p> <%= item.votes.where(direction: 'up').count %></p>


      <%= link_to 'Down!', votes_path(direction: 'down', menu_item_id: item.id), remote: true, method: 'post', id: 'downvote'%>
      <p> <%= item.votes.where(direction: 'down').count %></p>
    </div>
  <% end %>
<% end %>
