<div class="restaurant_container">
	<h1><%= @restaurant.name %> </h1>

	<div id="tab-container" class="tab-container">
	  <ul class='tab-bar'>
	    <li class='tab'><a href="#menu-tab">Menu</a></li>
	    <li class='tab'><a href="#profile-tab">Profile</a></li>
	  </ul>
	  <div id="menu-tab">
	    <h2>Menu</h2>
	    <% @items.each do |item| %>
			  <%= div_for(item) do %>
			    <div class="item-info"><%= item.name %></div>
			    <div class="votes">
			      <!-- CLEAN THIS SEND LOGIC TO CONTROLER -->
			      <%= link_to '', votes_path(direction: 'up', item_id: item.id), remote: true, method: 'post', id: 'upvote', class: 'ss-like' %>
			      <span class="vote-holder"> <%= ((item.votes.where(direction: 'up').count / item.votes.count.to_f)*100).round %>%</span>
			      <%= link_to '', votes_path(direction: 'down', item_id: item.id), remote: true, method: 'post', id: 'downvote', class: 'ss-dislike'%>
			    </div>
			  <% end %>
			<% end %>
	  </div>
	  
	  <div id="profile-tab">
	    <p class="display_text">Gender Distribution</p>
	  	<div class="canvas">
	  	<div class="femaledisplay"></div>
	  	<div class="maledisplay"></div>
	  </div>
	 	<p class="display_text">Item Force Layout</p>
	    <div class="itemdisplay"></div>
	    
	   <p class="display_text">Patron Age Cluster</p>
	    <div class="agedisplay"></div>
	  </div>
	</div>

</div>

<script type="text/javascript">
  $(document).ready(function(){ $('#tab-container').easytabs(); });
</script>


