<div class="restaurant_container">
	<h1><%= @restaurant.name %> </h1>

	<div id="tab-container" class="tab-container">
	  <ul class='tab-bar'>
	    <li class='tab'><a href="#menu-tab">Menu</a></li>
	    <li class='tab'><a href="#profile-tab">Profile</a></li>
	  </ul>
	  <div id="menu-tab">
	    <h2>Menu</h2>
	    <% @top_five_items.each do |item| %>
			  <%= div_for(item, class: "top_five_items") do %>
			    <div class="item-info" class="item-ellipse"><%= item.name %></div>
			    <div class="votes">
			      <!-- CLEAN THIS SEND LOGIC TO CONTROLER -->
			      <%= link_to '', votes_path(direction: 'up', item_id: item.id), remote: true, method: 'post', id: 'upvote', class: 'ss-like' %>
			      <span class="vote-holder"> <%= item.calculate_percentage %>%</span>
			      <%= link_to '', votes_path(direction: 'down', item_id: item.id), remote: true, method: 'post', id: 'downvote', class: 'ss-dislike'%>
			    </div>
			  <% end %>
			<% end %>
			<a class="show_all_items_btn" href="javascript:unhideItems()"><span class="slicknav_menutxt">MORE</span></a>
			 <% @remaining_items.each do |item| %>
			  <%= div_for(item, class: "remaining_items") do %>
			    <div class="item-info" class="item-ellipse"><%= item.name %></div>
			    <div class="votes">
			      <!-- CLEAN THIS SEND LOGIC TO CONTROLER -->
			      <%= link_to '', votes_path(direction: 'up', item_id: item.id), remote: true, method: 'post', id: 'upvote', class: 'ss-like' %>
			      <span class="vote-holder"> <%= item.calculate_percentage %>%</span>
			      <%= link_to '', votes_path(direction: 'down', item_id: item.id), remote: true, method: 'post', id: 'downvote', class: 'ss-dislike'%>
			    </div>
			  <% end %>
			<% end %>
	  </div>

	  <div id="profile-tab">
	    <p class="display_text">Gender Distribution</p>
	  	<div class="canvas">
	  	<div class="femaledisplay"></div>
	  	<div class="maledisplay"></div>
	  </div>
	 	<p class="display_text">Item Force Layout</p>
	    <div class="itemdisplay"></div>

	   <p class="display_text">Patron Age Cluster</p>
	    <div class="agedisplay"></div>
	  </div>
	</div>

</div>

<script type="text/javascript">
  $(document).ready(function(){ $('#tab-container').easytabs(); });
</script>


